body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: hwb(240 53% 23%);
    color: #fff;
}

.navbar {
    padding: 1rem;
}

.navbar-brand {
    color: #e4d0d0;
    font-size: 1.5rem;
}

.nav-link {
    color: black;
    margin: 0 1rem;
}

.nav-link:hover {
    color: #adb5bd;
}

.btn-dark {
    background-color: #343a40;
    border: none;
}

.btn-dark:hover {
    background-color: #495057;
}
#videoContainer {
position: relative;
width: 200px;
height: 200px;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
}

#playIcon {
position: absolute;
width: 50px;
height: 50px;
background: url('https://cdn-icons-png.flaticon.com/512/727/727245.png') no-repeat center center;
background-size: contain;
z-index: 2;
}

#myVideo {
display: none;
width: 100%;
}
